<h1><%= @page_title %></h1>
<div class="well">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus lacinia orci in tempus. Vivamus euismod ut velit quis finibus. Maecenas dui felis, pharetra et convallis faucibus, tincidunt aliquam est. Nam tincidunt nisl egestas mi tempor, eget aliquet libero egestas. Sed maximus erat vel nibh volutpat aliquam. Maecenas hendrerit finibus enim vel bibendum. Mauris mi sapien, accumsan ut enim hendrerit, pretium molestie dolor. Mauris nec turpis euismod, laoreet augue id, hendrerit libero. Nam ut leo dignissim, rhoncus arcu sodales, volutpat arcu.</p>
</div>
<div class="well">
<h3>Location Info</h3>
<ul>
    <li>The BookStore</li>
    <li>Some Address</li>
    <li>Liverpool, NY 13088</li>
    <li>Phone: (315)xxx-xxxx</li>
    <li>Email: support@thebookstore.com</li>
</ul>
</div>

